<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('head-links') -%>
    <title>Login</title>
  </head>
  <body>
    <div class="container w-75">
      <div class="row">
        <div class="col">
          <h1 class="pt-4">Success!</h1>
          <!-- Start of Sign Up Form -->
          <form method="GET" action="/allappointments">
            <!-- Email -->
            <div class="form-group whole-input">
            <!-- Sign up button -->
            <button type="submit" class="pt-2 btn btn-block btn-dark mt-5">
              Back to Appointments
            </button>
          </form>
          <!-- End of Sign Up Form -->
        </div>
      </div>
    </div>
    <%- include('bootstrap-scripts') -%>
  </body>
</html>
